@model AspNetCoreBootstrap4Validation.ViewModels.AjaxValidationModel 

<div asp-validation-summary="All" class="text-danger"></div>

<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" asp-for="Name" id="AjaxValidationModelName" aria-describedby="nameHelp" placeholder="Enter name">
    <small id="nameHelp" class="form-text text-muted">We'll never share your name ...</small>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="AjaxValidationModelAge" asp-for="Age" placeholder="0">
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-check ten_px_bottom">
    <input type="checkbox" class="form-check-input big_checkbox" asp-for="IsCool" id="AjaxValidationModelIsCool">
    <label class="form-check-label ten_px_left" for="IsCool">IsCool</label>
    <span asp-validation-for="IsCool" class="text-danger"></span>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
