/**/bin
/**/obj
/**/node_modules/
/AspNetCoreBootstrap4Validation/.vs
/AspNetCoreBootstrap4Validation/wwwroot/js/
/AspNetCoreBootstrap4Validation/wwwroot/css/site.min.css
/AspNetCoreBootstrap4Validation/wwwroot/css/vendor.min.css
/.vs/AspNetCoreBootstrap4Validation/v15
/.vs
